#About{
    width:100%;
    padding: 48px 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 600px;
    gap:24px;
    
    h2{
        font-size: 36px;
        color: var(--primary-color);
        font-weight: 600;
    }

    @media (min-width: 1024px){
        font-size: 48px;
    }

    section{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        min-height: 450px;
        width: 100%;
        gap:48px;
        height: fit-content;

        @media (min-width: 1024px){
            grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        }
        
        article{
            display:flex;
            flex-direction: column;
            justify-content: center;
            gap:12px;
            width: 100%;

            p{
                font-size: 18px;
                color: var(--primary-color);
                font-weight: 600;
            }
        }

        figure{
            position: relative;
            height: 400px;
            
            img{
                object-fit: cover;
                border-radius: 10px;
            }
        }
    }

    @media screen and (min-width: 720px) {
        padding: 48px 72px;
    }

    @media screen and (min-width: 1024px) {
        padding: 48px 110px;
    }
}