#Clinics{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 600px ;
    padding: 24px 12px;
    justify-content: center;
    gap:24px;
    max-width: 1200px;

    div{
        h2{
            font-size: 36px;
            color: var(--primary-color);
            font-weight: 600;
            text-align: center;
        }

        @media (min-width: 1024px){
            font-size: 48px;
        }
    }
    section{
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 12px;
        
        ul{
            display: flex;
            gap: 12px;
            width: 100%;

            li{
                cursor: pointer;
                font-weight: 700;
                color: var(--primary-color);
                padding: 6px 12px;
                border-radius: 4px;
                
                &.active{
                    color: white;
                    background-color: var(--primary-color);
                }
            }
        }

    }

    @media screen and (min-width: 720px) {
        padding: 48px 72px;

        section{
            flex-direction: row;
            gap: 24px;

            ul{
                gap: 24px;
                flex-direction: column;
                width: 25%;
            }
        }
    }

    @media screen and (min-width: 1024px) {
        padding: 48px 110px;
    }
}