#PostPage{
    padding: 0px 12px 72px;
    color: var(--secondary-color);
    
    @media (min-width: 1024px) {
        padding: 0px 52px 72px;
    }

    figure{
        height: 35vh;
        position: relative;
        width: 100%;
        border-radius: 10px;
        
        img{
            border-radius: 12px;
            object-fit: cover;
        }
        
        @media screen and (width >= 1024px) {
            height: calc(-150px + 100dvh);
        }
    }
    
    h1 {
        font-size: 24px; 
        margin-bottom: unset;
        text-align: start;
        font-weight: 700;
        padding: 12px;

        @media (min-width: 1024px) {
            font-size: 48px;
            text-align: center;
        } 
    }

    section{   
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        min-height: 600px;
        padding: 12px;
        gap: 18px;
        font-size: 18px;
        
        @media (width >= 1024px) {
            font-size: 22px;
            padding: 24px;
        }

        h2{
            font-size: 24px;
            font-weight: 700;
            margin-top: 16px;

            @media (width >= 1024px) {
                font-size: 36px;
            }
        }
        ul{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 16px;

            li{
                width: calc(100% - 12px);

                @media (width >= 1024px) {
                    width: calc(100% - 24px);
                }
                
                h3{
                    font-weight: 700;
                }
                p{  
                    padding-left: 24px;

                    @media (width >= 1024px) {
                        width: calc(100% - 36px);
                        padding-left: 36px;
                    }
                }
            }
        }
    }
    
}
#RelatedPosts{
    padding: 0px 12px 72px;
    color: var(--secondary-color);

    @media (min-width: 1024px) {
        padding: 0px 52px 72px;
    }
    
    h2 {
        font-size: 24px; 
        margin-bottom: 20px;
        font-weight: 700;
        padding: 12px 0px ;

        @media (width >= 1024px) {
            font-size: 48px;
        } 
    }
    ul{
        display: flex;
        gap: 24px;

        li{
            width: calc((100% - 8px ) - 12px);
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
            padding-bottom: 12px;
            overflow: hidden;

            a{
                figure{
                    position: relative;
                    height: 200px;

                    img{
                        object-fit: cover;
                    }
                }
    
                h3{
                    font-size: 16px;
                    font-weight: 600;
                    padding: 8px 12px;
                    height: 120px;
                }
                p{
                    font-size: 14px;
                    font-weight: 400;
                    padding: 0px 12px;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    line-clamp: 5;
                    -webkit-line-clamp: 5;
                    overflow: hidden;
                }
            }

            &:nth-child(-n + 3){
                display: none;
                visibility: 0;
            }

            @media screen and (min-width: 680px) {
                &:nth-child(-n + 1){
                    display: flex;
                    visibility: 1;
                }
            }

            @media screen and (min-width: 768px) {
                &:nth-child(-n + 2){
                    display: flex;
                    visibility: 1;
                }
            }

            @media screen and (min-width: 1024px) {
                &:nth-child(n){
                    display: flex;
                    visibility: 1;
                }
            }
        }
    }
}