.carousel {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 0px 12px 12px 12px;
    transition: all ease-in 0.9s ;

    figure{
      height: calc(100dvh - 560px);
      position:relative;
      width:100%;
      border-radius: 10px;
      
      img {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
        max-width: 100%;

        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;

        aspect-ratio: 1;
        object-fit: cover;

        &.current{
          opacity: 1;
        }

        &.fade-out {
          opacity: 0;
        }
      }
    }

    @media screen and (min-width: 720px) {
      padding: 0px 24px 12px 24px;  
    }

    @media screen and (min-width: 1024px) {
      padding: 0px 52px 12px 52px;

      figure {
        height: calc(100dvh - 150px);  
      }
    }
    
}
  
