#Structure {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 200px);
    min-height: 600px ;
    padding: 72px 48px;
    justify-content: center;
    gap:48px;


    div{
        h2{
            font-size: 48px;
            color: var(--primary-color);
        }
    }

}