.navigation{
    ul{
        display: flex;
        width: fit-content;
        gap: 18px;
        height: 100%;
        align-items: center;
        justify-content: center;
        color: var(--primary-color); 
        li{
            a{
                font-size: 18px;
                font-weight: 500;
            }
        }
    }
}